html,body { font-family: "Roboto", sans-serif; font-weight: 300; }
h1 { font-family: "Dosis", sans-serif; font-weight: 400; font-size: 52px; }
h2 { font-family: "Roboto", sans-serif; font-weight: 500; font-size: 32px;}
h3 { font-family: "Roboto", sans-serif; font-weight: 400; font-size: 24px; }
h4 { font-family: "Roboto", sans-serif; font-weight: 400; }
h5 { font-family: "Roboto", sans-serif; font-weight: 200; }
.semi_bold { font-family: "Roboto", sans-serif; font-weight: 400; }
.na { font-family: "Roboto", sans-serif; font-weight: 400; }

a:link { color: white; text-decoration: none }
a:visited { color: white; }
a:hover { color: lightgrey }
a:active { color: gray; }

a.two:link { color: black; text-decoration: none }
a.two:visited { color: black; }
a.two:hover { color: white; transition-duration: 0.1s; }
a.two:active { color: gray; }


html, body {
    margin: 0;
}


.flex-container-top-level {
    display: flex;
    flex-direction: column;
    background-color: rgb(256, 239, 247);
    align-items: center;
    min-width:600px;
}

.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
   /* background-color: lightblue; */
    height: fit-content;
    text-align: center;  
  /*  justify-content: flex-start; 
    align-content: stretch;   */
    justify-content: center;
    align-items: center;  
    background-color: white;  
    width: 100%;
}

.img_welcome 
{
    max-width: 100%;
    height: auto;
    width: 600px;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-image: url("images/welcome.jpg");
    background-size: cover;
    background-position: center top;
    background-origin: content-box;
    width: 60%;
    min-height:800px;
    min-width:600px;
}

.welcome-right {
    display: flex;
    flex-direction: column;
    background-color: white; 
    width: 40%;
    align-items: center;
    justify-content: center;
    min-height:700px;
    min-width:300px;
}

.img_logo
{
    width: 40%;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    box-shadow: 0 4px 4px 0 rgba(54, 23, 23, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    min-width: 300px;
}

.welcome-button {
    display: block;
    border-color: red;
    border-radius: 5px;
    border-width: 0px;
    width: 200px;
    color: white;
    background-color: darkturquoise;
    justify-content: center;
    transition-duration: 0.4s;
}

.welcome-button:hover {
    background-color: rgb(1, 145, 148);
    color: white;
}

.navbar {
    color: aliceblue;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 20px;
    text-shadow: 1px 1px black;
    font-family: "Dosis", sans-serif; font-weight: 400; font-size: 24px;
}


.product-menu {
    display: flow;
    flex-wrap: wrap;
    height: fit-content;
    text-align: center;
    align-self: center;
    width: 400px;
    margin-top: 40px;
}

.product-navbar {
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px  hotpink;
    font-family: "Dosis", sans-serif; font-weight: 400; font-size: 32px;
}

.product-category {
    text-align: center;
    color: black;
    margin-top: 20px;

    text-shadow: 1px 1px  hotpink;
    font-family: "Dosis", sans-serif; font-weight: 400; font-size: 32px;
}

.selected-products {
    display: block;
    height: fit-content;
    text-align: center;
    width: 322px;
    align-self: center;
    margin-bottom: 20px;
}

.cupcakes_section {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.cakes_section {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;    
}

.cakelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(256, 239, 247);    
    height: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;    
}


.cake
{
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    align-items: center;
    justify-content: center;    
    border-color: black;
    border-style: dotted;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 4px 4px 0 rgba(54, 23, 23, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.img_cake {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}


.buy-button {
    display: block;
    border-color: black;
    border-style: dotted;
    border-radius: 5px;
    border-width: 1px;
    width: 100px;
    height: 50px;
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    margin-top: 5px;
    margin-bottom: 10px;
}

.buy-button:hover {
    background-color: rgb(1, 145, 148);
    color: white;
}



.about {
    display: flex;
    flex-direction: column;
    background-color: rgb(256, 239, 247);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    width: 40%;  
    min-width:300px;
}

.small_logo {
    width: 18px;
    height: auto;
}

.social_media {
    display:inline-flex;
}

.footer {
    display: block;    
    background-color: rgb(256, 249, 257);
    height: fit-content;
    text-align: center; 
    margin-top: 10px;
    padding-bottom: 40px;
    width: 100%;
    font-family: "Roboto", sans-serif; font-weight: 100; 
}

